// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.button-main {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: #bcd4e6;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
}

.button-main:hover {
  color: white;
  background-color: #add8e6;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.signup-section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.signup-section label{
  margin-top: 2%;
}

.userin-section {
  padding-top: 5%;
}

.userin-section img {
  width: 50%;
}

.resources-section{
  text-align: center;
  background-color: #474e5d;
  color: white;
  padding: 50px;
}

.resources-section h1{
  padding-top: 2%;
}
