<div class="container-fluid">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <small class="d-block mb-3 text-muted d-flex justify-content-center"
          >&copy; {{currYear}}</small
        >
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <h5 class="text-title d-flex justify-content-center">{{elements[0][0]}}</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[0][1]}}</a
            >
          </li>
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[0][2]}}</a
            >
          </li>
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[0][3]}}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <h5 class="text-title d-flex justify-content-center">{{elements[1][0]}}</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[1][1]}}</a
            >
          </li>
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[1][2]}}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <h5 class="text-title d-flex justify-content-center">{{elements[2][0]}}</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[2][1]}}</a
            >
          </li>
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[2][2]}}</a
            >
          </li>
          <li>
            <a
              class="text-muted d-flex justify-content-center"
              href="#"
              >{{elements[2][3]}}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
