<div class="container-fluid">
  <app-chart></app-chart>

  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b
          >Durante las últimas 2 semanas, ¿con qué frecuencia ha sentido
          molestias por los siguientes problemas?</b
        >
      </div>
    </div>
  </div>

  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b>1. Tener poco interés o placer en hacer las cosas</b>
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options1">
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options1">{{ options[0] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options1">{{ options[1] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options1">{{ options[2] }} </label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options1">{{ options[3] }} </label>
      </div>
    </div>
  </div>

  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b>2. Sentirse desanimado/a, deprimido/a, o sin esperanza</b>
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options2">
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options2">{{ options[0] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options2">{{ options[1] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options2">{{ options[2] }} </label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options2">{{ options[3] }}</label>
      </div>
    </div>
  </div>

  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b
          >3. Con problemas en dormirse o en mantenerse dormido/a, o en dormir
          demasiado</b
        >
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options3">
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options3">{{ options[0] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options3">{{ options[1] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options3">{{ options[2] }} </label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options3">{{ options[3] }} </label>
      </div>
    </div>
  </div>

  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b>4. Sentirse cansado/a o tener poca energía</b>
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options4">
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options4">{{ options[0] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options4">{{ options[1] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options4">{{ options[2] }} </label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options4">{{ options[3] }} </label>
      </div>
    </div>
  </div>

  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b>5. Tener poco apetito o comer en exceso</b>
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options5">
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options5">{{ options[0] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options5">{{ options[1] }}</label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options5">{{ options[2] }} </label> <br />
        <input type="radio" name="radio" /> <span class="checkmark"></span>
        <label class="options5">{{ options[3] }} </label>
      </div>
    </div>
  </div>

  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <a routerLink="/user" class="btn btn-primary">{{ bttnText }}</a>
    </div>
  </div>
  
</div>
