<div class="container-fluid">

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/images/doctor.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">{{doctor1.Name}}</h3>
            <h5 class="card-text">{{doctor1.Specialty}}</h5>
            <p class="card-text">
              {{doctor1.Address}}
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/images/doctor.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">{{doctor1.Name}}</h3>
            <h5 class="card-text">{{doctor1.Specialty}}</h5>
            <p class="card-text">
              {{doctor1.Address}}
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
         <img src="../../../assets/images/doctor.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">{{doctor1.Name}}</h3>
            <h5 class="card-text">{{doctor1.Specialty}}</h5>
            <p class="card-text">
              {{doctor1.Address}}
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/images/doctor.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">{{doctor1.Name}}</h3>
            <h5 class="card-text">{{doctor1.Specialty}}</h5>
            <p class="card-text">
              {{doctor1.Address}}
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/images/doctor.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">{{doctor1.Name}}</h3>
            <h5 class="card-text">{{doctor1.Specialty}}</h5>
            <p class="card-text">
              {{doctor1.Address}}
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/images/doctor.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">{{doctor1.Name}}</h3>
            <h5 class="card-text">{{doctor1.Specialty}}</h5>
            <p class="card-text">
              {{doctor1.Address}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>