<div class="container-fluid">

    <div class="userin-section text-center bg-light mb-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card-body">
            <h1 class="card-title">{{title}}</h1>
            <br />
            <h2 class="card-title">Name</h2>
            <h2 class="card-subtitle mb-2 text-muted">{{fields['Name']}}</h2>
            <h2 class="card-title">E-Mail</h2>
            <h2 class="card-subtitle mb-2 text-muted">{{fields['Email']}}</h2>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img
            src="../../../assets/images/dummy.png"
            class="img-fluid rounded-start"
            alt="temp"
          />
        </div>
      </div>
    </div>

  </div>