<div class="container-fluid">


    <div class="resources-section col-sm-12 col-md-12 col-lg-12">
      <h1 style="text-align: center">{{title}}</h1>
      <p>
        Aqui puedes encontrar links utiles como libros o videos para poder
        aprender más de salud mental
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <img
            src="../../../assets/images/shallPass.jpeg"
            alt="Book1"
            style="width: 100%"
          />
          <div class="container">
            <br />
            <h2>{{ShallPass.Name}}</h2>
            <h4>{{ShallPass.Author}}</h4>
            <p>{{ShallPass.Bio}}</p>
            <p>
              <a
                href="https://www.amazon.com/-/es/dp/0241348862"
                target="_blank"
                class="button"
                >{{bttnText}}</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <img
            src="../../../assets/images/shallPass.jpeg"
            alt="Book2"
            style="width: 100%"
          />
          <div class="container">
            <br />
            <h2>{{ShallPass.Name}}</h2>
            <h4>{{ShallPass.Author}}</h4>
            <p>{{ShallPass.Bio}}</p>
            <p>
              <a
                href="https://www.amazon.com/-/es/dp/0241348862"
                target="_blank"
                class="button"
                >{{bttnText}}</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <img
            src="../../../assets/images/shallPass.jpeg"
            alt="video2"
            style="width: 100%"
          />
          <div class="container">
            <br />
            <h2>{{ShallPass.Name}}</h2>
            <h4>{{ShallPass.Author}}</h4>
            <p>{{ShallPass.Bio}}</p>
            <p>
              <a
                href="https://www.amazon.com/-/es/dp/0241348862"
                target="_blank"
                class="button"
                >{{bttnText}}</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <img
            src="../../../assets/images/shallPass.jpeg"
            alt="Book1"
            style="width: 100%"
          />
          <div class="container">
            <br />
            <h2>{{ShallPass.Name}}</h2>
            <h4>{{ShallPass.Author}}</h4>
            <p>{{ShallPass.Bio}}</p>
            <p>
              <a
                href="https://www.amazon.com/-/es/dp/0241348862"
                target="_blank"
                class="button"
                >{{bttnText}}</a
              >
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>