// COLORS
$dark-text: black;
$grey: #555;
$blue-1: #64bad7;
$blue-2: #6e98b8;
$background-blue: #e3f2fd;
$white: white;

// PADDINGS
$text-padding: 1.5rem 2rem;
$button-padding: 15px;
$top-padding: 50px;

$top-section-padding: 2%;
$container-padding: 0 16px;
$column-padding: 0 8px;

// WIDTHS
$width-100: 100%;
$width-80: 80%;
$width-50: 50%;

// ALIGNMENTS
$left: left;
$center: center;
$right: right;

// OTHER
$btn-radius: 12px;
$px8: 8px;
$px16: 16px;
$px20: 20px;
$px25: 25px;
$px50: 50px;

// NUMBERS
$zero: 0;