<div class="container-fluid">

    <div class="about-section col-sm-12 col-md-12 col-lg-12">
      <h1>{{title}}</h1>
      <br />
      <p>
        DesestresaTec nacio como una idea para la clase de Desarrollo de
        Aplicaciones Web en el Tecnologico de Monterrey Campus Ciudad de
        Mexico para la carrera de Ingenieria en Tecnologias Computacionales.
      </p>
      <p>
        Esta idea fue propuesta ya que muchos estudiantes sufren de problemas
        de Salud Mental como lo son depresion, ansiedad y mas.
      </p>
    </div>
    <br />

    <h2 class="title-text">{{subtitle}}</h2>
    <br />
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <img src="../../../assets/images/gus.jpeg" alt="Gustavo" style="width: 100%" />
          <div class="container">
            <br />
            <h2>{{Gus.Name}}</h2>
            <p class="title">{{Gus.Role}}</p>
            <p>
              {{Gus.Bio}}
            </p>
            <p>
              <a
                href="https://www.linkedin.com/in/gustavo-vasquez99/"
                target="_blank"
                class="button"
                >{{bttnText}}</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <img src="../../../assets/images/javi.jpeg" alt="Javier" style="width: 100%" />
          <div class="container">
            <br />
            <h2>{{Javi.Name}}</h2>
            <p class="title">{{Javi.Role}}</p>
            <p>
              {{Javi.Bio}}
            </p>
            <p>
              <a
                href="https://www.linkedin.com/in/gustavo-vasquez99/"
                target="_blank"
                class="button"
                >{{bttnText}}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>